*{
  margin:0;
  padding:0;
}

body{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.form{
  width:30%;
  opacity:0.8;
  padding:20px;
  background: #fff;
}
.form input{
  width:90%;
  padding:20px;
  border:1px solid #888;
  margin:10px;
}
button{
  width:100px;
  padding:20px;
  border:none;
  margin:10px;
  color:#fff;
  background:brown;
}