<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/Login.css' %}">
</head>
<body style="background: url({% static 'assets/img/bg.jpg' %}); background-size:cover;">
    <div class="form">
        <form action="">
            <input type="text" placeholder="Your Name..">
            <input type="email" placeholder="Your Email..">
            <input type="text" placeholder="Username..">
            <input type="password" placeholder="password..">
             <input type="password" placeholder="Please Confirm Your password..">
            <button>Register</button>
        </form>
    </div>
   </body>
</html>